.venv/
.vscode/
main/db.sqlite3
main/main/__pycache__/
main/blog/migrations/__pycache__/
main/blog/__pycache__/
main/users/migrations/__pycache__/
main/users/__pycache__/
node_modules/
localhost:8000/