<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="#">وبلاگ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog:home' %}" data-toggle="tooltip" title="خانه"><i
                        class="fas fa-home"></i></a>
                <a class="nav-item nav-link" href="{% url 'blog:about' %}" data-toggle="tooltip"
                    title="اطلاعات بیشتر"><i class="fas fa-info"></i></a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if  user.is_authenticated%}
                <a class="nav-item nav-link" href="{% url 'blog:create' %}" data-toogle="tooltip" title="افزودن پست"><i
                        class="fas fa-pen"></i></a>
                <a class="nav-item nav-link" href="{% url 'users:profile' %}" data-toogle="tooltip"
                    title="نمایه حساب کاربری"><i class="fas fa-user"></i></a>
                <a class="nav-item nav-link" href="{% url 'users:logout' %}" data-toogle="tooltip" title="خروج"><i
                        class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'users:login' %}">ورود</a>
                <a class="nav-item nav-link" href="{% url 'users:register' %}">ثبت نام</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>