{% comment %} Page Paginator {% endcomment %}
{% if is_paginated %}
<div class="text-center">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">ابتدا</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><<</a>
    {% else %}
    <button type="button" class="btn btn-outline-dark mb-4" style="cursor:default;" disabled>ابتدا</button>
    <button type="button" class="btn btn-outline-dark mb-4" style="cursor:default;" disabled><<</button>
    {% endif %}{% comment %} has_previous {% endcomment %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}{% comment %} current page validator {% endcomment %}

    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">>></a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">انتها</a>
    {% else %}
    <button type="button" class="btn btn-outline-dark mb-4" style="cursor:default;" disabled>>></button>
    <button type="button" class="btn btn-outline-dark mb-4" style="cursor:default;" disabled>انتها</button>
    {% endif %}{% comment %} has_next {% endcomment %}
</div>

{% endif %}{% comment %} is_paginated {% endcomment %}
