{% extends "blog/base.html" %}
{% load jformat %}
{% block content %}
<img src="{{ object.author.profile.image.url }}" alt="نمایه" class="rounded-circle article-img">
<div class="media-body">
    <div class="article-metadata">
        <small class="m-1 text-muted">
            <a href="{% url 'blog:profile' object.author.username %}">
                {% if object.author.first_name %}
                {{ object.author.first_name }}
                {% else %}
                {{ object.author }}
                {% endif %}
            </a>
        </small>
        <small class="m-1 text-muted float-left">{{ object.date_posted|jformat:"%B %d, %Y" }}</small>

        {% if object.author == user and user.is_authenticated %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:update' object.id %}" data-toogle="tooltip"
                title="ویرایش پست"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:delete' object.id %}" data-toogle="tooltip"
                title="حذف پست"><i class="fas fa-trash"></i></a>
        </div>
        {% endif %}

    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content|safe }}</p>

</div>
</article>
{% endblock content %}