{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="media">
        <div class="img">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        </div>
        <div class="media-body">
            {% if user.first_name %}
            <h2 class="account-heading text-center">{{ user.first_name }}</h2>
            {% else %}
            <h2 class="account-heading text-center">{{ user.username }}</h2>
            {% endif %}
            <p class="text-secondary text-center">{{ user.email }}</p>
        </div>
    </div>
    <!-- FORM HERE -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">ویرایش رخ نما</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">بروز رسانی</button>
        </div>
    </form>
</div>
{% endblock content %}